<body id="top">
 
 
  <!--[if lt IE 8]>
  <p>You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->
 
  
   <header class="header header-shadow header-shrink bg-gray-v2 fixed-top">
    <div class="container">
      <nav class="navbar navbar-expand-lg">
       
        <a class="navbar-brand" href="index.html">
            <!-- <img src="assets/img/logo-inverse.png" alt=""> -->
        </a>
        
        <button class="navbar-toggler p-0" data-toggle="collapse" data-target="#navbarNav">
                <div class="hamburger hamburger--spin js-hamburger">
                      <div class="hamburger-box">
                        <div class="hamburger-inner"></div>
                      </div>
                  </div>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" scrollTo href="#about">about</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" scrollTo href="#junglenomics" >Junglenomics</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" scrollTo href="#skillmi" >SkillMi</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" scrollTo href="#krysalis" >Krysalis</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" scrollTo href="#koncentric" >Koncentric</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" scrollTo href="#pricing" >pricing</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" scrollTo href="#contact" >contact</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" scrollTo href="#team" >Team</a>
            </li>
          </ul>
        </div>
        
      </nav>
    </div> <!-- END container-->
  </header> <!-- END header-inverse -->
  
  
  
  
  
  
  <section class="u-py-md-250 u-flex-center" style="background:#ECF5FE url(assets/img/startup/hero-banner.png) no-repeat; background-size:cover; background-position: top center;">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-7 mb-5 mb-lg-0">
          <h1 class="display-4 u-fw-600">
            <span class="text-primary">The WHATIF</span>platform intrduced in a glance!!
          </h1>
          <p class="u-fs-22 u-lh-1_8 my-4">
            Put here what you which of the programs you want people to get started with.
          </p>
          <a href="" class="btn btn btn-rounded btn-primary  u-w-170 u-mt-15">
            Get Started
          </a>
        </div> <!-- END col-lg-7-->
        
        <div class="col-lg-5">
        <div class="card box-shadow-v2 bg-white u-of-hidden text-center">
           <h2 class="bg-primary m-0 py-3 text-white">Sign Up for Free</h2>
           <form action="" method="POST" class="p-4 p-md-5">
           
           <div class="input-group u-rounded-50 border u-of-hidden u-mb-20">
            <div class="input-group-addon bg-white border-0 pl-4 pr-0">
              <span class="icon icon-User text-primary"></span>
            </div>
            <input type="text" class="form-control border-0 p-3" placeholder="Your fullname">
          </div>
           
           <div class="input-group u-rounded-50 border u-of-hidden u-mb-20">
            <div class="input-group-addon bg-white border-0 pl-4 pr-0">
              <span class="icon icon-Mail text-primary"></span>
            </div>
            <input type="text" class="form-control border-0 p-3" placeholder="Your email">
          </div>

          <div class="input-group u-rounded-50 border u-of-hidden u-mb-20">
            <div class="input-group-addon bg-white border-0 pl-4 pr-0">
              <span class="icon icon-Mail text-primary"></span>
            </div>
            <input type="text" class="form-control border-0 p-3" placeholder="Your Phone">
          </div>
           
           <div class="input-group u-rounded-50 border u-of-hidden u-mb-20">
            <div class="input-group-addon bg-white border-0 pl-4 pr-0">
              <span class="icon icon-ClosedLock text-primary"></span>
            </div>
            <input type="password" class="form-control border-0 p-3" placeholder="Password">
          </div>
             <button class="btn btn-primary btn-rounded">
               Get Started
             </button>
           </form>
         </div>
        </div> <!-- END col-lg-5-->
      </div> <!-- END row-->
    </div> <!-- END container-->
  </section> <!-- END intro-hero-->
            
                               
                                         
                                                   
                                                             
                                                                       
  <section id="about" class="pb-0">
    <div class="container">
      <div class="row text-center">
        <div class="col-lg-8 mx-auto">
          <h2 class="h1">
            A short snopsis and introduction of <br> WhatIf Platform .
          </h2>
          <div class="u-h-4 u-w-50 bg-primary rounded mt-4 u-mb-70 mx-auto"></div>
          <p>
            Nam liber tempor cum soluta nobis eleifend option congue is nihil imper is per tem por legere me that doming vulputate velit esse molestie possim. wisi enim ad placerat facer possim assum minim there veniam, nostrud exerci tation ullamcorper quis nostrud exerci tation ullamcorper. Nam is tempor cum soluta nobis eleifend option congue is nihil imper.
          </p>
          <a href="" class="btn btn-primary btn-rounded mt-4">More About Us</a>
        </div>
       <div class="col-12 u-mt-70 text-center">
         <!-- <img src="assets/img/startup/s-1.png" alt=""> -->
       </div>
      </div> <!-- END row-->
    </div> <!-- END container-->
  </section> <!-- END section-->

  <section id="junglenomics" class="pb-0">
    <div class="container">
      <div class="row text-center">
        <div class="col-lg-8 mx-auto">
          <h2 class="h1">
            A short snopsis and introduction of <br> Junglenomics Gamification .
          </h2>
          <div class="u-h-4 u-w-50 bg-primary rounded mt-4 u-mb-70 mx-auto"></div>
          <p>
            Nam liber tempor cum soluta nobis eleifend option congue is nihil imper is per tem por legere me that doming vulputate velit esse molestie possim. wisi enim ad placerat facer possim assum minim there veniam, nostrud exerci tation ullamcorper quis nostrud exerci tation ullamcorper. Nam is tempor cum soluta nobis eleifend option congue is nihil imper.
          </p>
          <a href="" class="btn btn-primary btn-rounded mt-4">More About Junglenomics</a>
        </div>
       <div class="col-12 u-mt-70 text-center">
         <!-- <img src="assets/img/startup/s-1.png" alt=""> -->
       </div>
      </div> <!-- END row-->
    </div> <!-- END container-->
  </section> <!-- END section-->

  <section id="skillmi" class="pb-0">
    <div class="container">
      <div class="row text-center">
        <div class="col-lg-8 mx-auto">
          <h2 class="h1">
            A short snopsis and introduction of <br> SkillMi Platform .
          </h2>
          <div class="u-h-4 u-w-50 bg-primary rounded mt-4 u-mb-70 mx-auto"></div>
          <p>
            Nam liber tempor cum soluta nobis eleifend option congue is nihil imper is per tem por legere me that doming vulputate velit esse molestie possim. wisi enim ad placerat facer possim assum minim there veniam, nostrud exerci tation ullamcorper quis nostrud exerci tation ullamcorper. Nam is tempor cum soluta nobis eleifend option congue is nihil imper.
          </p>
          <a href="" class="btn btn-primary btn-rounded mt-4">More About SkillMi</a>
        </div>
       <div class="col-12 u-mt-70 text-center">
         <!-- <img src="assets/img/startup/s-1.png" alt=""> -->
       </div>
      </div> <!-- END row-->
    </div> <!-- END container-->
  </section> <!-- END section-->

  <section id="krysalis" class="pb-0">
    <div class="container">
      <div class="row text-center">
        <div class="col-lg-8 mx-auto">
          <h2 class="h1">
            A short snopsis and introduction of <br> Krysalis Program .
          </h2>
          <div class="u-h-4 u-w-50 bg-primary rounded mt-4 u-mb-70 mx-auto"></div>
          <p>
            Nam liber tempor cum soluta nobis eleifend option congue is nihil imper is per tem por legere me that doming vulputate velit esse molestie possim. wisi enim ad placerat facer possim assum minim there veniam, nostrud exerci tation ullamcorper quis nostrud exerci tation ullamcorper. Nam is tempor cum soluta nobis eleifend option congue is nihil imper.
          </p>
          <a href="" class="btn btn-primary btn-rounded mt-4">More About Krysalis</a>
        </div>
       <div class="col-12 u-mt-70 text-center">
         <!-- <img src="assets/img/startup/s-1.png" alt=""> -->
       </div>
      </div> <!-- END row-->
    </div> <!-- END container-->
  </section> <!-- END section-->

  <section id="koncentric" class="pb-0">
    <div class="container">
      <div class="row text-center">
        <div class="col-lg-8 mx-auto">
          <h2 class="h1">
            A short snopsis and introduction of <br> Koncentric Platform .
          </h2>
          <div class="u-h-4 u-w-50 bg-primary rounded mt-4 u-mb-70 mx-auto"></div>
          <p>
            Nam liber tempor cum soluta nobis eleifend option congue is nihil imper is per tem por legere me that doming vulputate velit esse molestie possim. wisi enim ad placerat facer possim assum minim there veniam, nostrud exerci tation ullamcorper quis nostrud exerci tation ullamcorper. Nam is tempor cum soluta nobis eleifend option congue is nihil imper.
          </p>
          <a href="" class="btn btn-primary btn-rounded mt-4">More on Koncentric</a>
        </div>
       <div class="col-12 u-mt-70 text-center">
         <!-- <img src="assets/img/startup/s-1.png" alt=""> -->
       </div>
      </div> <!-- END row-->
    </div> <!-- END container-->
  </section> <!-- END section-->
  
          
  
                  
    
                                                
  <section class="bg-gray-v2 u-pb-80">  
    <div class="container">
     <div class="row">
      <div class="col-lg-4 col-md-6 u-mb-70">
      <div class="media">
        <span class="icon icon-Briefcase text-primary u-fs-50 mr-4"></span>
          <div class="media-body">
            <h4>
              Gamification
            </h4>
            <p>
              Nam liber tempor cum soluta nois eleifend option congue is nihil tem imper per tem por legere.
            </p>
          </div>
        </div>
      </div> <!-- END col-lg-4 col-md-6-->
      
      <div class="col-lg-4 col-md-6 u-mb-70">
      <div class="media">
        <span class="icon icon-Web text-primary u-fs-50 mr-4"></span>
          <div class="media-body">
            <h4>
              Trainings
            </h4>
            <p>
              Nam liber tempor cum soluta nois eleifend option congue is nihil tem imper per tem por legere.
            </p>
          </div>
        </div>
      </div> <!-- END col-lg-4 col-md-6-->
      
      <div class="col-lg-4 col-md-6 u-mb-70">
      <div class="media">
        <span class="icon icon-Dollars text-primary u-fs-50 mr-4"></span>
          <div class="media-body">
            <h4>
              Human Resource Consulting
            </h4>
            <p>
              Nam liber tempor cum soluta nois eleifend option congue is nihil tem imper per tem por legere.
            </p>
          </div>
        </div>
      </div> <!-- END col-lg-4 col-md-6-->
      
      <div class="col-lg-4 col-md-6 u-mb-70">
      <div class="media">
        <span class="icon icon-Headset text-primary u-fs-50 mr-4"></span>
          <div class="media-body">
            <h4>
              Dedicated Support
            </h4>
            <p>
              Nam liber tempor cum soluta nois eleifend option congue is nihil tem imper per tem por legere.
            </p>
          </div>
        </div>
      </div> <!-- END col-lg-4 col-md-6-->
      
      <div class="col-lg-4 col-md-6 u-mb-70">
      <div class="media">
        <span class="icon icon-Resume text-primary u-fs-50 mr-4"></span>
          <div class="media-body">
            <h4>
              Business Consulting
            </h4>
            <p>
              Nam liber tempor cum soluta nois eleifend option congue is nihil tem imper per tem por legere.
            </p>
          </div>
        </div>
      </div> <!-- END col-lg-4 col-md-6-->
      
      <div class="col-lg-4 col-md-6 u-mb-70">
      <div class="media">
        <span class="icon icon-Starship2 text-primary u-fs-50 mr-4"></span>
          <div class="media-body">
            <h4>
              Progress Across Projects
            </h4>
            <p>
              Nam liber tempor cum soluta nois eleifend option congue is nihil tem imper per tem por legere.
            </p>
          </div>
        </div>
      </div> <!-- END col-lg-4 col-md-6-->
      
     </div> <!--END row-->
    </div> <!-- END container-->
  </section> <!-- END section-->      
                                           
                                                                                                                                
  <section id="team" style="background:#ecf5fd url(assets/img/startup/bg-2.png) no-repeat;background-position: center center;">  
    <div class="container">
     <div class="row">
       <div class="col-12 text-center">
         <h2 class="h1">
           Our Team
         </h2>
         <div class="u-h-4 u-w-50 bg-primary rounded mt-4 u-mb-40 mx-auto"></div>
       </div>  <!-- END col-12-->
       
       <div class="col-lg-3 col-md-6 mt-4">
         <div class="card text-center show-onHover-parent">
           <div class="u-pos-rel">
             <img class="w-100" src="assets/img/person/1_1.jpg" alt="">
             <div class="show-onHover u-pos-abs-center u-w-100p">
              <ul class="list-inline social social-white social-sm mt-4">
                <li class="list-inline-item">
                  <a href=""><i class="fa fa-facebook"></i></a>
                </li>
                <li class="list-inline-item">
                  <a href=""><i class="fa fa-twitter"></i></a>
                </li>
                <li class="list-inline-item">
                  <a href=""><i class="fa fa-google-plus"></i></a>
                </li>
                <li class="list-inline-item">
                  <a href=""><i class="fa fa-linkedin"></i></a>
                </li>
              </ul>
             </div>
           </div>
           <div class="py-4">
             <h4>
               Oluseye Amusa
             </h4>
             <p class="mb-0">
               Founder & CEO
             </p>
           </div>
         </div> <!-- END card-->
       </div> <!-- END col-lg-3 col-md-6-->
       
       <div class="col-lg-3 col-md-6 mt-4">
         <div class="card text-center show-onHover-parent">
           <div class="u-pos-rel">
             <img class="w-100" src="assets/img/person/2.jpg" alt="">
             <div class="show-onHover u-pos-abs-center u-w-100p">
              <ul class="list-inline social social-white social-sm mt-4">
                <li class="list-inline-item">
                  <a href=""><i class="fa fa-facebook"></i></a>
                </li>
                <li class="list-inline-item">
                  <a href=""><i class="fa fa-twitter"></i></a>
                </li>
                <li class="list-inline-item">
                  <a href=""><i class="fa fa-google-plus"></i></a>
                </li>
                <li class="list-inline-item">
                  <a href=""><i class="fa fa-linkedin"></i></a>
                </li>
              </ul>
             </div>
           </div>
           <div class="py-4">
             <h4>
               Britney Simpson
             </h4>
             <p class="mb-0">
               Creative Director
             </p>
           </div>
         </div> <!-- END card-->
       </div> <!-- END col-lg-3 col-md-6-->
       
       <div class="col-lg-3 col-md-6 mt-4">
         <div class="card text-center show-onHover-parent">
           <div class="u-pos-rel">
             <img class="w-100" src="assets/img/person/3.jpg" alt="">
             <div class="show-onHover u-pos-abs-center u-w-100p">
              <ul class="list-inline social social-white social-sm mt-4">
                <li class="list-inline-item">
                  <a href=""><i class="fa fa-facebook"></i></a>
                </li>
                <li class="list-inline-item">
                  <a href=""><i class="fa fa-twitter"></i></a>
                </li>
                <li class="list-inline-item">
                  <a href=""><i class="fa fa-google-plus"></i></a>
                </li>
                <li class="list-inline-item">
                  <a href=""><i class="fa fa-linkedin"></i></a>
                </li>
              </ul>
             </div>
           </div>
           <div class="py-4">
             <h4>
               Kolade Kehinde
             </h4>
             <p class="mb-0">
               Senior Developer
             </p>
           </div>
         </div> <!-- END card-->
       </div> <!-- END col-lg-3 col-md-6-->
       
       <div class="col-lg-3 col-md-6 mt-4">
         <div class="card text-center show-onHover-parent">
           <div class="u-pos-rel">
             <img class="w-100" src="assets/img/person/4.jpg" alt="">
             <div class="show-onHover u-pos-abs-center u-w-100p">
              <ul class="list-inline social social-white social-sm mt-4">
                <li class="list-inline-item">
                  <a href=""><i class="fa fa-facebook"></i></a>
                </li>
                <li class="list-inline-item">
                  <a href=""><i class="fa fa-twitter"></i></a>
                </li>
                <li class="list-inline-item">
                  <a href=""><i class="fa fa-google-plus"></i></a>
                </li>
                <li class="list-inline-item">
                  <a href=""><i class="fa fa-linkedin"></i></a>
                </li>
              </ul>
             </div>
           </div>
           <div class="py-4">
             <h4>
               Kayode Okunuga
             </h4>
             <p class="mb-0">
               Business Analyst
             </p>
           </div>
         </div> <!-- END card-->
       </div> <!-- END col-lg-3 col-md-6-->
       
     </div><!--END row-->
    </div> <!-- END container-->
  </section> <!-- END section-->
                           
  <section id="pricing">
    <div class="container text-center">
      <div class="row">
        <div class="col-12">
          <h2 class="h1">
            Select one of our different <br> evaluation plan today!
          </h2>
          <div class="u-h-4 u-w-50 bg-primary rounded mt-4 u-mb-40 mx-auto"></div>
        </div>
      </div> <!-- END row-->
      <div class="row">
      
        <div class="col-md-4 mt-4">
          <div class="bg-white box-shadow-v2 rounded py-5">
          <img src="assets/img/svg/plane-up.svg" class="u-h-90" alt="">
            <h4 class="u-mb-35 u-mt-15">
              Individuals
            </h4>
            <hr class="m-0">
            <ul class="list-unstyled u-py-30 u-lh-2">
              <li><strong>Unlimited</strong> searchable message</li>
              <li><strong>Unlimited</strong> apps and service</li>
              <li><strong>8GB</strong> file storage per team</li>
              <li><strong>100GB</strong> Monthly Bandwidth</li>
            </ul>
            <hr class="m-0">
            <h2 class="u-fs-60 u-fw-600 u-my-20">
              <sup class="u-fs-20">N</sup>1999
            </h2>
            <a href="" class="btn btn-white btn-rounded">
              Get Started
            </a>
          </div>
        </div> <!-- END col-md-4-->
      
        <div class="col-md-4 mt-4">
          <div class="bg-white box-shadow-v2 rounded py-5">
          <img src="assets/img/svg/phone-book.svg" class="u-h-90" alt="">
            <h4 class="u-mb-35 u-mt-15">
              Professional
            </h4>
            <hr class="m-0">
            <ul class="list-unstyled u-py-30 u-lh-2">
              <li><strong>Unlimited</strong> searchable message</li>
              <li><strong>Unlimited</strong> apps and service</li>
              <li><strong>8GB</strong> file storage per team</li>
              <li><strong>100GB</strong> Monthly Bandwidth</li>
            </ul>
            <hr class="m-0">
            <h2 class="u-fs-60 u-fw-600 u-my-20 text-primary">
              <sup class="u-fs-20">N</sup>9999
            </h2>
            <a href="" class="btn btn-white btn-rounded">
              Get Started
            </a>
          </div>
        </div> <!-- END col-md-4-->
      
        <div class="col-md-4 mt-4">
          <div class="bg-white box-shadow-v2 rounded py-5">
          <img src="assets/img/svg/dollar-bag.svg" class="u-h-90" alt="">
            <h4 class="u-mb-35 u-mt-15">
              Entreprise
            </h4>
            <hr class="m-0">
            <ul class="list-unstyled u-py-30 u-lh-2">
              <li><strong>Unlimited</strong> searchable message</li>
              <li><strong>Unlimited</strong> apps and service</li>
              <li><strong>8GB</strong> file storage per team</li>
              <li><strong>100GB</strong> Monthly Bandwidth</li>
            </ul>
            <hr class="m-0">
            <h2 class="u-fs-60 u-fw-600 u-my-20">
              <sup class="u-fs-20">N</sup>19999
            </h2>
            <a href="" class="btn btn-white btn-rounded">
              Get Started
            </a>
          </div>
        </div> <!-- END col-md-4-->
                      
      </div> <!-- END row-->
    </div> <!-- END container-->
  </section> <!--END section-->
  
   
   
    
    
    
    
    
    
  <section id="blog" class="bg-gray-v2">
     <div class="container">
     
     <div class="row">
       <div class="col-lg-6 m-auto text-center">
         <h2 class="h1">
           Latest News
         </h2>
         <div class="u-h-4 u-w-50 bg-primary rounded mt-4 u-mb-40 mx-auto"></div>
       </div>
     </div> <!--END row-->
     
     <div class="row">
     
       <div class="col-md-4 mt-4">
         <div class="card border-0 box-shadow-v3 u-h-100p">
         <img src="assets/img/blog/1.jpg" alt="">
          <div class="u-p-30">
            <h4>Contrast and Similarity in Design</h4>
            <p class="d-flex text-muted">
              <span><i class="icon icon-Time mr-1"></i> May 24, 2017</span>
              <span><i class="icon icon-Eye mr-1 ml-3"></i> 468 views</span>
            </p>
            <p>
              Nam liber tempor cum soluta nobis eleif end option congue is nihil
            </p>
            <a href="" class="btn btn-primary btn-rounded my-3">Read More</a>
          </div>
         </div> <!-- END card-->
       </div> <!-- END col-md-4-->
     
     <div class="col-md-4 mt-4">
         <div class="card border-0 box-shadow-v3 u-h-100p">
         <img src="assets/img/blog/3.jpg" alt="">
          <div class="u-p-30">
            <h4>
              Hyper conv in 2018
            </h4>
            <p class="d-flex text-muted">
              <span><i class="icon icon-Time mr-1"></i> May 24, 2017</span>
              <span><i class="icon icon-Eye mr-1 ml-3"></i> 468 views</span>
            </p>
            <p>
              Nam liber tempor cum soluta nobis eleif end option congue is nihil imper per tem por legere me
            </p>
            <a href="" class="btn btn-primary btn-rounded my-3">
              Read More
            </a>
          </div>
         </div> <!-- END card-->
       </div> <!-- END col-md-4-->
       
       
       <div class="col-md-4 mt-4">
         <div class="card border-0 box-shadow-v3 u-h-100p">
         <img src="assets/img/blog/2.jpg" alt="">
          <div class="u-p-30">
            <h4>
              Awesome design trand in clean design 
            </h4>
            <p class="d-flex text-muted">
              <span><i class="icon icon-Time mr-1"></i> May 24, 2017</span>
              <span><i class="icon icon-Eye mr-1 ml-3"></i> 468 views</span>
            </p>
            <p>
              Nam liber tempor cum soluta nobis eleif end option congue is nihil
            </p>
            <a href="" class="btn btn-primary btn-rounded my-3">
              Read More
            </a>
          </div>
         </div> <!-- END card-->
       </div> <!-- END col-md-4-->
       
     </div> <!-- END row-->
     </div> <!-- END container-->
   </section>
   
   
   
   
  <section id="contact" style="background:#0081ff url(assets/img/startup/bg-4.png) no-repeat; background-position: center center;">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2 class="h1 text-center text-white u-mb-30">
            Drop us a message and we would get <br> back to you soon.
          </h2>
          <div class="u-h-4 u-w-50 bg-white rounded u-mb-70 mx-auto"></div>
          <form action="" method="POST">
            <div class="row">
              <div class="col-md-6 u-mb-30">
                <input type="text" placeholder="Your name*">
              </div>
              <div class="col-md-6 u-mb-30">
                <input type="email" placeholder="Your email*">
              </div>
              <div class="col-md-6 u-mb-30">
                <input type="tel" placeholder="Phone number">
              </div>
              <div class="col-md-6 u-mb-30">
                <input type="tel" placeholder="Your website">
              </div>
              <div class="col-12 u-mb-30">
                <textarea rows="5" placeholder="Message"></textarea>
              </div>
            </div> <!-- END row-->
            <div class="text-center">
              <button class="btn btn-white"> Send Request</button>
            </div>
          </form>
        </div> <!-- END col-lg-8-->
      </div> <!-- END row-->
    </div> <!-- END container-->
  </section>
    
    
    
    
  
   
   
   
  <footer>
    <section class="bg-gray-v2">
      <div class="container">
      <div class="row">
        <div class="col-lg-4 mb-5 mb-lg-0">
          <!-- <img src="assets/img/logo-inverse.png" alt=""> -->
          <p class="u-my-40">
            Nam liber tempor cum soluta nobis eleifend they option congue is nihil 
            imper per tem por legere is  me velit doming vulputate.
          </p>
        <form class="form-inline">
          <div class="input-group box-shadow-v1 u-rounded-50 bg-white u-of-hidden">
            <div class="input-group-addon bg-white border-0 pl-4 pr-0">
              <span class="icon icon-Mail text-primary"></span>
            </div>
            <input type="text" class="form-control border-0 p-3" placeholder="Enter your email">
            <button type="submit" class="input-group-btn btn bg-white">
              <span class="icon icon-Arrow text-primary"></span>
            </button>
          </div>
        </form>
  
        </div>		
        <div class="col-lg-2 col-md-6 ml-auto mb-5 mb-lg-0">
          <h4>Useful Links</h4>
          <div class="u-h-4 u-w-50 bg-primary rounded mt-3 u-mb-40"></div>
          <ul class="list-unstyled u-lh-2">
            <li><a href="">About Us </a> </li>
            <li><a href="">Testimonials </a> </li>
            <li><a href="">Pricing </a> </li>
            <li><a href="">Contact Us</a></li>
            <li><a href="">News </a> </li>
          </ul>
        </div>
        <div class="col-lg-3 col-md-6 ml-auto mb-5 mb-lg-0">
          <h4>Contact Info</h4>
          <div class="u-h-4 u-w-50 bg-primary rounded mt-3 u-mb-40"></div>
          <ul class="list-unstyled">
            <li class="mb-2">
              <span class="icon icon-Phone2 text-primary mr-2"></span> 008. 567. 890. 634
            </li>
            <li class="mb-2">
              <span class="icon icon-Mail text-primary mr-2"></span> <a href="mailto:support@echotheme.com">support@echotheme.com</a>
            </li>
            <li class="mb-2">
              <span class="icon icon-Pointer text-primary mr-2"></span> Melbourne, Australia
            </li>
          </ul>
          <ul class="list-inline social social-rounded social-white mt-4">
            <li class="list-inline-item">
              <a href=""><i class="fa fa-facebook"></i></a>
            </li>
            <li class="list-inline-item">
              <a href=""><i class="fa fa-twitter"></i></a>
            </li>
            <li class="list-inline-item">
              <a href=""><i class="fa fa-google-plus"></i></a>
            </li>
            <li class="list-inline-item">
              <a href=""><i class="fa fa-linkedin"></i></a>
            </li>
          </ul>
        </div>
      </div> <!-- END row-->
    </div> <!-- END container-->
    </section> <!-- END section-->
    
    <section class="u-py-40">
      <div class="container">				
        <p class="mb-0 text-center"> 
          &copy; Copyright 2018  -  Powered by <a class="text-primary" href="#" target="_blank">IdeaFactory</a>
        </p>
      </div>
    </section>
  </footer> <!-- END footer-->
  
  
  
  
  
      <div class="scroll-top bg-white box-shadow-v1">
        <i class="fa fa-angle-up" aria-hidden="true"></i>
      </div> 
      
  
  <!--
  // ////////////////////////////////////////////////
  // To Reduce server request and improved page speed drastically all third-party plugin bundle in assets/js/bundle.js
  // If you wanna add those manually bellow is the sequence 
  // ///////////////////////////////////////////////
  -->
  <!--
      <script src="assets/vendor/jquery/dist/jquery.min.js"></script>
      <script src="assets/vendor/popper.js/dist/popper.min.js"></script>
      <script src="assets/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
      <script src="assets/vendor/slick-carousel/slick/slick.min.js"></script>
      <script src="assets/vendor/fancybox/dist/jquery.fancybox.min.js"></script>
      <script src="assets/vendor/imagesloaded/imagesloaded.pkgd.min.js"></script>
      <script src="assets/vendor/isotope/dist/isotope.pkgd.min.js"></script>
      <script src="assets/vendor/parallax.js/parallax.min.js"></script>
      <script src="assets/vendor/wow/dist/wow.min.js"></script>
      <script src="assets/vendor/vide/dist/jquery.vide.min.js"></script>
      <script src="assets/vendor/typed.js/lib/typed.min.js"></script>
      <script src="assets/vendor/appear-master/dist/appear.min.js"></script>
      <script src="assets/vendor/jquery.countdown/dist/jquery.countdown.min.js"></script>
      <script src="assets/js/smoothscroll.js"></script>
  -->
    
      <script src="assets/js/bundle.js"></script>
      <script src="assets/js/fury.js"></script>
  
      
    </body>