<body id="top">
 
 
  <!--[if lt IE 8]>
  <p>You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->
 
  
   <header class="header header-shadow header-shrink bg-gray-v2 fixed-top">
    <div class="container">
      <nav class="navbar navbar-expand-lg">
       
        <a class="navbar-brand" href="index.html">
            <!-- <img src="assets/img/logo-inverse.png" alt=""> -->
        </a>
        
        <button class="navbar-toggler p-0" data-toggle="collapse" data-target="#navbarNav">
                <div class="hamburger hamburger--spin js-hamburger">
                      <div class="hamburger-box">
                        <div class="hamburger-inner"></div>
                      </div>
                  </div>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a [routerLink]="['']" class="nav-link">about</a>
            </li>
            <li class="nav-item">
              <a [routerLink]="['']" class="nav-link">Junglenomics</a>
            </li>
            <li class="nav-item">
              <a [routerLink]="['/skillmi']" class="nav-link">SkillMi</a>
            </li>
            <li class="nav-item">
              <a  [routerLink]="['/krysalis']" class="nav-link" >Krysalis</a>
            </li>
            <li class="nav-item">
              <a  [routerLink]="['/koncentric']" class="nav-link">Koncentric</a>
            </li>
            
          </ul>
        </div>
        
      </nav>
    </div> <!-- END container-->
  </header> <!-- END header-inverse -->

  <section>
    <div class="container">
      <div class="row">
        <div class="col-12 text-center">
          <h2>JUNGLENOMICS</h2>
          <div class="u-h-4 u-w-50 bg-primary rounded mt-3 mx-auto u-mb-70"></div>
        </div>
        <div class="col-md-6">
          <div class="mb-5">
            <h4 class="u-fs-22">
              What type of personal information do we collect?
            </h4>
            <p>
              Nam liber tempor cum soluta nobis eleifend option congue is nihil imper  per tem por legere me that doming vulputate  the molestie Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euis mod tincidunt ut laoreet
            </p>
          </div>
          <h4 class="u-fs-22">
            How do we use personal information?
          </h4>
          <p>
            Nam liber tempor cum soluta nobis eleifend option congue is nihil imper  per tem por legere me that doming vulputate  the molestie Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy
          </p>
        </div> <!-- END col-md-6 -->
        <div class="col-md-6">
          <div class="mb-5">
            <h4 class="u-fs-22">
              How we collect personal information?
            </h4>
            <p>
              Nam liber tempor cum soluta nobis eleifend option congue is nihil imper  per tem por legere me that doming vulputate  the molestie Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy.
            </p>
          </div>
          <h4 class="u-fs-22">
            When may we disclose your personal information?
          </h4>
          <p>
            Nam liber tempor cum soluta nobis eleifend option congue is nihil imper  per tem por legere me that doming vulputate  the molestie Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy. Lorem ipsum dolor sit amet.
          </p>
        </div> <!-- END col-md-6 -->
      </div> <!-- END row-->
    </div> <!-- END container-->
  </section> <!-- END -->

  <section class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-lg-8">
          <div class="row">
            <div class="col-md-6 mb-4">
              <div class="card border-0 box-shadow-v1 u-h-100p">
              <img src="assets/img/blog/1.jpg" alt="">
                <div class="u-p-30">
                  <h4>Contrast and Similarity in Design</h4>
                  <p class="d-flex text-muted">
                    <span><i class="icon icon-Time mr-1"></i> May 24, 2017</span>
                    <span><i class="icon icon-Eye mr-1 ml-3"></i> 468 views</span>
                  </p>
                  <p>
                    Nam liber tempor cum soluta nobis eleif end option congue is nihil
                  </p>
                  <a href="" class="btn btn-primary btn-rounded my-3">Read More</a>
                </div>
              </div> <!-- END card-->
            </div> <!-- END col-md-6-->
  
           <div class="col-md-6 mb-4">
              <div class="card border-0 box-shadow-v1 u-h-100p">
              <img src="assets/img/blog/3.jpg" alt="">
                <div class="u-p-30">
                  <h4>
                    Hyper conv in 2018
                  </h4>
                  <p class="d-flex text-muted">
                    <span><i class="icon icon-Time mr-1"></i> May 24, 2017</span>
                    <span><i class="icon icon-Eye mr-1 ml-3"></i> 468 views</span>
                  </p>
                  <p>
                    Nam liber tempor cum soluta nobis eleif end option congue is nihil imper per tem por legere me
                  </p>
                  <a href="" class="btn btn-primary btn-rounded my-3">
                    Read More
                  </a>
                </div>
              </div> <!-- END card-->
            </div> <!-- END col-md-6-->
  
           <div class="col-md-6 mb-4">
              <div class="card border-0 box-shadow-v1 u-h-100p">
              <img src="assets/img/blog/3.jpg" alt="">
                <div class="u-p-30">
                  <h4>
                    Hyper conv in 2018
                  </h4>
                  <p class="d-flex text-muted">
                    <span><i class="icon icon-Time mr-1"></i> May 24, 2017</span>
                    <span><i class="icon icon-Eye mr-1 ml-3"></i> 468 views</span>
                  </p>
                  <p>
                    Nam liber tempor cum soluta nobis eleif end option congue is nihil imper per tem por legere me
                  </p>
                  <a href="" class="btn btn-primary btn-rounded my-3">
                    Read More
                  </a>
                </div>
              </div> <!-- END card-->
            </div> <!-- END col-md-6-->
  
           <div class="col-md-6 mb-4">
              <div class="card border-0 box-shadow-v1 u-h-100p">
              <img src="assets/img/blog/1.jpg" alt="">
                <div class="u-p-30">
                  <h4>
                    Hyper conv in 2018
                  </h4>
                  <p class="d-flex text-muted">
                    <span><i class="icon icon-Time mr-1"></i> May 24, 2017</span>
                    <span><i class="icon icon-Eye mr-1 ml-3"></i> 468 views</span>
                  </p>
                  <p>
                    Nam liber tempor cum soluta nobis eleif end option congue is nihil imper per tem por legere me
                  </p>
                  <a href="" class="btn btn-primary btn-rounded my-3">
                    Read More
                  </a>
                </div>
              </div> <!-- END card-->
            </div> <!-- END col-md-6-->
            <div class="col-md-6 mb-4">
              <div class="card border-0 box-shadow-v1 u-h-100p">
              <img src="assets/img/blog/1.jpg" alt="">
                <div class="u-p-30">
                  <h4>Contrast and Similarity in Design</h4>
                  <p class="d-flex text-muted">
                    <span><i class="icon icon-Time mr-1"></i> May 24, 2017</span>
                    <span><i class="icon icon-Eye mr-1 ml-3"></i> 468 views</span>
                  </p>
                  <p>
                    Nam liber tempor cum soluta nobis eleif end option congue is nihil
                  </p>
                  <a href="" class="btn btn-primary btn-rounded my-3">Read More</a>
                </div>
              </div> <!-- END card-->
            </div> <!-- END col-md-6-->
  
           <div class="col-md-6 mb-4">
              <div class="card border-0 box-shadow-v1 u-h-100p">
              <img src="assets/img/blog/3.jpg" alt="">
                <div class="u-p-30">
                  <h4>
                    Hyper conv in 2018
                  </h4>
                  <p class="d-flex text-muted">
                    <span><i class="icon icon-Time mr-1"></i> May 24, 2017</span>
                    <span><i class="icon icon-Eye mr-1 ml-3"></i> 468 views</span>
                  </p>
                  <p>
                    Nam liber tempor cum soluta nobis eleif end option congue is nihil imper per tem por legere me
                  </p>
                  <a href="" class="btn btn-primary btn-rounded my-3">
                    Read More
                  </a>
                </div>
              </div> <!-- END card-->
            </div> <!-- END col-md-6-->
          </div> <!-- END row-->
        </div> <!-- END col-lg-8 -->
        <aside id="sidebar" class="col-lg-4">
  
           <div class="widget sidebar-widget">
             <h2 class="sidebar-widget-title">Search For</h2>
            <div class="widget-content">
             <div class="input-group u-rounded-50 border u-of-hidden u-mb-20">
                <div class="input-group-addon bg-white border-0 pl-4 pr-0">
                  <span class="icon icon-Search text-primary"></span>
                </div>
                <input type="text" class="form-control border-0 p-3" placeholder="Type & hit enter">
              </div>
            </div>
          </div> <!-- END sidebar-widget-->
  
         
           <div class="widget sidebar-widget">
             <h2 class="sidebar-widget-title">Categories</h2>
            <div class="widget-content">
              <ul>
                <li><a href="">Branding / Design <span class="badge">67</span> </a></li>
                <li><a href="">Marketing <span class="badge">2</span> </a></li>
                <li><a href="">Uncategorized <span class="badge">7</span> </a></li>
                <li><a href="">Branding / Design <span class="badge">20</span> </a></li>
                <li><a href="">Marketing <span class="badge">26</span> </a></li>
              </ul>
            </div>
          </div> <!-- END sidebar-widget-->
          
          
          
          <div class="sidebar-widget">
            <div class="post-tabs">
              
               <div class="post-tab-list clearfix">
                 <h2 class="sidebar-widget-title">
                   <a href="#tab-1" data-tab="tab-1" class="active">recent posts</a>
                 </h2>
                 <h2 class="sidebar-widget-title">
                   <a href="#tab-2" data-tab="tab-2" class="">popular posts</a>
                 </h2>
               </div>
               
                <div class="widget-content">
                  <div id="tab-1" class="post__tab-content active">
                  
                   <div class="media align-items-center mb-3">
                     <img class="u-w-70 rounded-circle u-h-70 mr-3" src="assets/img/blog/1.jpg" alt="">
                     <div class="media-body">
                       <h5>
                         <a href="">The Important Standard Post Format</a>
                       </h5>
                       <span class="u-fs-15">Nov 28, 2017</span>
                     </div>
                   </div>
                   
                  
                   <div class="media align-items-center mb-3">
                     <img class="u-w-70 rounded-circle u-h-70 mr-3" src="assets/img/blog/2.jpg" alt="">
                     <div class="media-body">
                       <h5>
                         <a href="">Standard Post Format</a>
                       </h5>
                       <span class="u-fs-15">Nov 28, 2017</span>
                     </div>
                   </div>
                   
                  
                   <div class="media align-items-center mb-3">
                     <img class="u-w-70 rounded-circle u-h-70 mr-3" src="assets/img/blog/3.jpg" alt="">
                     <div class="media-body">
                       <h5>
                         <a href="">The Important Standard Post Format</a>
                       </h5>
                       <span class="u-fs-15">Nov 28, 2017</span>
                     </div>
                   </div>
                   
                  
                   <div class="media align-items-center mb-3">
                     <img class="u-w-70 rounded-circle u-h-70 mr-3" src="assets/img/blog/1_1.jpg" alt="">
                     <div class="media-body">
                       <h5>
                         <a href="">Some words about my vacation</a>
                       </h5>
                       <span class="u-fs-15">Nov 28, 2017</span>
                     </div>
                   </div>
                   
                  </div> <!-- END tab-1-->
                  
                  <div id="tab-2" class="post__tab-content">
                
                  
                   <div class="media align-items-center mb-3">
                     <img class="u-w-70 rounded-circle u-h-70 mr-3" src="assets/img/blog/2.jpg" alt="">
                     <div class="media-body">
                       <h5>
                         <a href="">Standard Post Format</a>
                       </h5>
                       <span class="u-fs-15">Nov 28, 2017</span>
                     </div>
                   </div>
                   
                  
                   <div class="media align-items-center mb-3">
                     <img class="u-w-70 rounded-circle u-h-70 mr-3" src="assets/img/blog/3.jpg" alt="">
                     <div class="media-body">
                       <h5>
                         <a href="">The Important Standard Post Format</a>
                       </h5>
                       <span class="u-fs-15">Nov 28, 2017</span>
                     </div>
                   </div>
                   
                  
                   <div class="media align-items-center mb-3">
                     <img class="u-w-70 rounded-circle u-h-70 mr-3" src="assets/img/blog/1_1.jpg" alt="">
                     <div class="media-body">
                       <h5>
                         <a href="">Some words about my vacation</a>
                       </h5>
                       <span class="u-fs-15">Nov 28, 2017</span>
                     </div>
                   </div>
                   
                   <div class="media align-items-center mb-3">
                     <img class="u-w-70 rounded-circle u-h-70 mr-3" src="assets/img/blog/1.jpg" alt="">
                     <div class="media-body">
                       <h5>
                         <a href="">The Important Standard Post Format</a>
                       </h5>
                       <span class="u-fs-15">Nov 28, 2017</span>
                     </div>
                   </div>
                  </div> <!-- END tab-1-->
                </div> <!-- END widget-content-->
            </div> <!-- END side-content-blocks-->
          </div> <!-- END sidebar-widget-->
       
         
          <div class="sidebar-widget">
            <div class="tag-cloud">
              <h2 class="sidebar-widget-title">popular tags</h2>
              <div class="widget-content tags-list">
                <a href="">Fashion</a>
                <a href="">Audio</a>
                <a href="">Lifestyle</a>
                <a href="">Travel</a>
                <a href="">Food</a>
                <a href="">Products</a>
                <a href="">Education</a>
                <a href="">envato</a>
                <a href="">UI UX</a>
                <a href="">WordPress</a>
                <a href="">Blogging</a>
              </div>
           </div> <!-- END tag-cloud-->
          </div> <!-- END sidebar-widget-->
       
        </aside>
      </div> <!-- END row-->
    </div>	 <!-- END container-->
  </section> <!-- END section--> 


 <footer>
    <section class="bg-gray-v2">
      <div class="container">
      <div class="row">
        <div class="col-lg-4 mb-5 mb-lg-0">
          <!-- <img src="assets/img/logo-inverse.png" alt=""> -->
          <p class="u-my-40">
            Nam liber tempor cum soluta nobis eleifend they option congue is nihil 
            imper per tem por legere is  me velit doming vulputate.
          </p>
        <form class="form-inline">
          <div class="input-group box-shadow-v1 u-rounded-50 bg-white u-of-hidden">
            <div class="input-group-addon bg-white border-0 pl-4 pr-0">
              <span class="icon icon-Mail text-primary"></span>
            </div>
            <input type="text" class="form-control border-0 p-3" placeholder="Enter your email">
            <button type="submit" class="input-group-btn btn bg-white">
              <span class="icon icon-Arrow text-primary"></span>
            </button>
          </div>
        </form>
  
        </div>		
        <div class="col-lg-2 col-md-6 ml-auto mb-5 mb-lg-0">
          <h4>Useful Links</h4>
          <div class="u-h-4 u-w-50 bg-primary rounded mt-3 u-mb-40"></div>
          <ul class="list-unstyled u-lh-2">
            <li><a href="">About Us </a> </li>
            <li><a href="">Testimonials </a> </li>
            <li><a href="">Pricing </a> </li>
            <li><a href="">Contact Us</a></li>
            <li><a href="">News </a> </li>
          </ul>
        </div>
        <div class="col-lg-3 col-md-6 ml-auto mb-5 mb-lg-0">
          <h4>Contact Info</h4>
          <div class="u-h-4 u-w-50 bg-primary rounded mt-3 u-mb-40"></div>
          <ul class="list-unstyled">
            <li class="mb-2">
              <span class="icon icon-Phone2 text-primary mr-2"></span> 008. 567. 890. 634
            </li>
            <li class="mb-2">
              <span class="icon icon-Mail text-primary mr-2"></span> <a href="mailto:support@echotheme.com">support@echotheme.com</a>
            </li>
            <li class="mb-2">
              <span class="icon icon-Pointer text-primary mr-2"></span> Melbourne, Australia
            </li>
          </ul>
          <ul class="list-inline social social-rounded social-white mt-4">
            <li class="list-inline-item">
              <a href=""><i class="fa fa-facebook"></i></a>
            </li>
            <li class="list-inline-item">
              <a href=""><i class="fa fa-twitter"></i></a>
            </li>
            <li class="list-inline-item">
              <a href=""><i class="fa fa-google-plus"></i></a>
            </li>
            <li class="list-inline-item">
              <a href=""><i class="fa fa-linkedin"></i></a>
            </li>
          </ul>
        </div>
      </div> <!-- END row-->
    </div> <!-- END container-->
    </section> <!-- END section-->
    
    <section class="u-py-40">
      <div class="container">				
        <p class="mb-0 text-center"> 
          &copy; Copyright 2018  -  Powered by <a class="text-primary" href="#" target="_blank">IdeaFactory</a>
        </p>
      </div>
    </section>
  </footer> <!-- END footer-->
  
  
  
  
  
      <div class="scroll-top bg-white box-shadow-v1">
        <i class="fa fa-angle-up" aria-hidden="true"></i>
      </div> 
      
  
  <!--
  // ////////////////////////////////////////////////
  // To Reduce server request and improved page speed drastically all third-party plugin bundle in assets/js/bundle.js
  // If you wanna add those manually bellow is the sequence 
  // ///////////////////////////////////////////////
  -->
  <!--
      <script src="assets/vendor/jquery/dist/jquery.min.js"></script>
      <script src="assets/vendor/popper.js/dist/popper.min.js"></script>
      <script src="assets/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
      <script src="assets/vendor/slick-carousel/slick/slick.min.js"></script>
      <script src="assets/vendor/fancybox/dist/jquery.fancybox.min.js"></script>
      <script src="assets/vendor/imagesloaded/imagesloaded.pkgd.min.js"></script>
      <script src="assets/vendor/isotope/dist/isotope.pkgd.min.js"></script>
      <script src="assets/vendor/parallax.js/parallax.min.js"></script>
      <script src="assets/vendor/wow/dist/wow.min.js"></script>
      <script src="assets/vendor/vide/dist/jquery.vide.min.js"></script>
      <script src="assets/vendor/typed.js/lib/typed.min.js"></script>
      <script src="assets/vendor/appear-master/dist/appear.min.js"></script>
      <script src="assets/vendor/jquery.countdown/dist/jquery.countdown.min.js"></script>
      <script src="assets/js/smoothscroll.js"></script>
  -->
    
      <script src="assets/js/bundle.js"></script>
      <script src="assets/js/fury.js"></script>
  
      
    </body>